body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 15px;
}

.container {

    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
}


.row {
    display: flex;
    flex: 1 1 auto;
    
}

.grid {
    border: 1px solid rgb(0, 200, 255);
    /* height: 10px;
    width: 10px; */
    background-color: blanchedalmond;
    flex: 1 1 auto
}